@{
    ViewData["Title"] = "Basic Table";
}

<div class="card m-2">
    <div class="table-responsive">
        <table class="table table-bordered table-vcenter text-nowrap table-text">
            <thead>
                <tr>
                    <th class="w-1">
                        STT
                        <!-- Download SVG icon from http://tabler.io/icons/icon/chevron-up -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-sm icon-thick icon-2">
                            <path d="M6 15l6 -6l6 6"></path>
                        </svg>
                    </th>
                    <th>Mã KH</th>
                    <th>Tên KH</th>
                    <th>Ngày sinh</th>
                    <th>SĐT</th>
                    <th>Địa chỉ</th>
                    <th>Giới tính</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">KH255</td>
                    <td>Khách hàng 1</td>
                    <td>15-12-2017</td>
                    <td>87956621</td>
                    <td>TP HCM</td>
                    <td>nam</td>
                    <td>abc@gmail.com</td>
                </tr>
                <tr>
                    <td class="text-center">2</td>
                    <td class="text-center">KH215</td>
                    <td>Khách hàng 2</td>
                    <td>10-08-2022</td>
                    <td>87956621</td>
                    <td>Hà Giang</td>
                    <td>nữ</td>
                    <td>xyz@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>